@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

/* html {
	scroll-behavior: smooth;
} */

* {
	outline: none !important;
}

body {
	font-family: 'Noto Sans TC' !important;
	color: #4A4A4A;
	letter-spacing: .4px;
}

a {
	color: #4A4A4A;
	text-decoration: none;
}

.nav-item {
	cursor: pointer;
}

a:hover {
	color: rgb(255, 115, 45) !important;
	text-decoration: none;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.text-primary {
	color: rgb(255, 115, 45) !important;
	font-weight: 900 !important;
}

.text-right {
	font-size: .5rem;
}

.btn-primary {
	color: #ffffff !important;
	background-color: rgb(255, 115, 45);
	border-color: rgb(255, 115, 45);
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
	z-index: 999999999999;
}

.btn-primary:hover {
	background-color: rgb(201, 85, 27);
	border-color: rgb(201, 85, 27);
}

.btn-primary:active {
	background-color: rgb(201, 85, 27);
	border-color: rgb(201, 85, 27);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: rgb(201, 85, 27) !important;
	border-color: rgb(201, 85, 27) !important;
}

.btn {
	border-radius: 0px;
}



/* 導覽 */

.navbar-wrapper {
	display: flex;
	align-items: center;
}

.navbar-brand img {
	width: 185px;
	margin-left: 10px;
}

@media screen and (max-width:400px) {
	.navbar-brand img {
		width: 159px;
		margin-left: 10px;
	}
}


.navbar-top {
	/* position: fixed;
    right: 0;
    left: 0; */
	z-index: 1;
	padding: 0.9rem 1rem !important;
	font-weight: 700;
	/* box-shadow: 0px 4px 10px rgba(74, 74, 74); */
	background-color: rgba(255, 255, 255) !important;
}

@media screen and (max-width:998px) {
	.navbar-top {
		position: fixed;
		z-index: 999;
		left: 0;
		right: 0;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.238);
	}
}

@media screen and (min-width:991px) {
	.navbar-fixed {
		position: fixed;
		right: 0;
		left: 0;
		transition: 3s;
		animation-name: nfstart;
		animation-duration: .5s;
		z-index: 999;
	}
}

@keyframes nfstart {
	from {
		top: -30px;
	}

	to {
		top: 0px;
	}
}

.navbar-nofixed {
	position: relative;
	right: 0;
	left: 0;
	transition: 3s;
	animation-name: nfclose;
	animation-duration: .5s;
}

@keyframes nfclose {
	from {
		top: 0px;
	}

	to {
		top: -30px;
	}
}

.nav-text-phone {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 700;
	font-family: 'Arial' !important;
}

.nav-phone-wrapper a {
	display: flex;
}

.nav-phone-wrapper a img {
	margin-right: 6px;
	margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .8);
}

@media screen and(max-width:992px) {
	.navbar-light .navbar-nav .nav-link {
		color: rgba(0, 0, 0, .8);
		padding: 13px 0px;
	}

	.nav-link:nth-child(1) {
		padding-top: 13px;
	}
}

/* 導覽 */

/* 輪播 */

.carousel-mask {
	/* background-color: rgba(70, 67, 86, 0.1); */
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
}

.banner-text-wrapper {
	position: absolute;
	z-index: 999999;
	top: 24%;
	right: 80px;
	text-align: right;
	width: 44%;
}

.banner-text-wrapper .banner-text-top {
	font-size: 5rem;
	font-weight: 900;
	color: rgb(255, 115, 45);
	display: inline-flex;
	align-items: center;
	text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.banner-text-wrapper .banner-text-top span {
	font-size: 2.5rem;
	margin: 10px 10px 0px 10px;
}

.banner-text-center {
	font-size: 3.7rem;
	font-weight: 600;
	color: #4A4A4A;
}

.banner-text-bottom {
	font-size: 1.5rem;
	color: #4A4A4A;
	text-align: inherit;
}

.banner-text-btn {
	font-size: 1.1rem;
	padding: 10px 20px;
	float: right;
	margin-top: 30px;
}

.banner-text-btn:hover {
	color: #fff !important;
}


@media only screen and (min-width: 1367px) {
	.banner-text-wrapper .banner-text-top {
		font-size: 5.7rem;
	}

	.banner-text-center {
		font-size: 4.1rem;
	}

	.banner-text-bottom {
		font-size: 1.7rem;
	}

	.banner-text-wrapper {
		width: 60%;
	}

}

@media only screen and (max-width: 1366px) {
	.banner-text-wrapper .banner-text-top {
		font-size: 4.5rem;
	}

	.banner-text-center {
		font-size: 3.4rem;
	}

	.banner-text-bottom {
		font-size: 1.4rem;
	}

}

@media only screen and (max-width: 1260px) {
	.banner-text-wrapper .banner-text-top {
		font-size: 4rem;
	}

	.banner-text-center {
		font-size: 3rem;
	}

	.banner-text-bottom {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 1160px) {
	.banner-text-wrapper .banner-text-top {
		font-size: 3.4rem;
	}

	.banner-text-center {
		font-size: 2.75rem;
	}

	.banner-text-bottom {
		font-size: 1rem;
	}

	.banner-text-wrapper {
		width: 100%;
	}
}


.carousel {
	position: relative;
	/* padding-top: 76px; */
}


@media only screen and (max-width: 997px) {
	.carousel-m-hide {
		display: none !important;
	}
}

@media only screen and (min-width: 998px) {
	.carousel-l-hide {
		display: none !important;
	}
}

@media screen and (max-width: 470px) {

	.carousel-control-next,
	.carousel-control-prev {
		bottom: -115% !important;
	}

	.carousel-control-next {
		right: 30% !important;
	}

	.carousel-control-prev {
		left: 30% !important;
	}
}






/* 輪播 */

/* 公司特點 */

.feature-wrapper {
	margin-top: -10px;
}

.feature-box {
	width: 100%;
	background-color: #F2F2F2;
	padding: 43px 6%;
}

.feature-box-m {
	width: 100%;
	background-color: #F2F2F2;
	padding: 13px 8%;
}

.feature-box:nth-child(2) {
	background-color: #E8E8E8;
}

.feature-box h3 {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.feature-box p {
	margin-bottom: 0px;
}

.feature-icon-focus::before {
	text-align: center;
	content: url('../img/features-focus.svg');
	margin: 0px 10px 0px 0px;
}

.feature-icon-nice::before {
	text-align: center;
	content: url('../img/features-nice.svg');
	margin: 0px 10px 0px 0px;
}

.feature-icon-price::before {
	text-align: center;
	content: url('../img/features-price.svg');
	margin: 0px 10px 0px 0px;
}



/* 公司特點 */


/* 遇到困難 */
.title-mark {
	width: 7px;
	height: 28px;
	background-color: rgb(255, 115, 45);
	position: absolute;
	left: -3px;
	top: 47px;
}

.difficult-wrapper {
	padding: 130px 0px;
}

@media screen and (min-width:992px) {
	.dilemma-square {
		width: 45px;
		height: 153px;
		background-color: #ffffff;
		position: absolute;
		left: 14px;
		bottom: -3px;
	}

}

@media screen and (max-width:768px) {
	.difficult-wrapper {
		padding: 9px 0px 50px 0px;
	}
}

.difficult-wrapper h2 {
	padding-top: 40px;
	font-weight: 900;
}

.difficult-text-l {
	font-size: 27px;
	padding-top: 40px;
}

.difficult-text-mark {
	z-index: -1111111;
	position: absolute;
	bottom: 57px;
	width: 289px;
	height: 15px;
	left: 44px;
	background-color: rgb(255, 115, 45, .3);
}


@media screen and (max-width:1200px) {
	.difficult-text-mark {
		width: 289px;
		left: 94px;
	}

	.difficult-wrapper h2 {
		padding-top: 0px;
	}
}

@media screen and (max-width:768px) {
	.difficult-text-mark {
		display: none;
	}

	.difficult-wrapper h2 {
		padding-top: 44px;
	}
}

/* 遇到困難 */



/* 產業介紹 */

.industry-wrapper h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	font-size: 44px;
	color: #ffffff;
	text-shadow: 1px 1px rgba(0, 0, 0, .2);
	margin-top: 20px;
}

.industry-inner-wrapper {
	margin: 0px -24px 0px -24px !important;
}

.industry-box {
	padding: 0px 10px 0px 10px;
}

.industry-text-style-1 {
	background-color: rgba(74, 110, 119);
	color: #ffffff;
	border-radius: 50px;
	padding: 3px;
	margin: 0px 3px;
}

.industry-text-style-2 {
	background-color: rgb(53, 84, 92);
	color: #ffffff;
	border-radius: 50px;
	padding: 3px;
	margin: 0px 3px;
}

.industry-text-style-3 {
	background-color: rgb(168, 60, 21);
	color: #ffffff;
	border-radius: 50px;
	padding: 3px;
	margin: 0px 3px;
}

.industry-text-style-4 {
	background-color: rgb(144, 47, 128);
	color: #ffffff;
	border-radius: 50px;
	padding: 3px;
	margin: 0px 3px;
}

.industry-p-style {
	margin-left: 15px;
	margin-top: 8px;
	margin-bottom: 16px;
	color: #ffffff;
}

.industry-text-wrapper {
	margin-top: 40px;
	text-transform: none;
	color: #ffffff;
	opacity: 1;
	font-size: 20px;
	margin-top: 70px;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transform-origin: 50% -100%;
	transform-origin: 50% -100%;
}

.industry-wrapper .effect-active .industry-mask,
.industry-wrapper .effect-active .industry-mask-2,
.industry-wrapper .effect-active .industry-mask-3,
.industry-wrapper .effect-active .industry-mask-4 {
	opacity: 0;
}

@media screen and (max-width:768px) {
	.effect-hidden-m {
		display: none;
	}
}

.industry-wrapper .mask {
	width: 95.3%;
	height: 96.1%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	position: absolute;
	opacity: 1;
}

.industry-wrapper .industry-mask {
	background: rgba(74, 110, 119, .8);
}

.industry-wrapper .industry-mask-2 {
	background: rgba(47, 128, 111, .8);
}


.industry-wrapper .industry-mask-3 {
	background: rgba(201, 75, 30, .8);
}

.industry-wrapper .industry-mask-4 {
	background: rgba(168, 57, 150, .8);
}

.industry-wrapper p {
	margin-top: 40px;
	text-transform: none;
	color: #ffffff;
	opacity: 1;
	font-size: 22px;
	margin-top: 55px;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transform-origin: 50% -100%;
	transform-origin: 50% -100%;
}

figure.effect-active h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	font-size: 50px;
	color: #ffffff;
	opacity: 0;
}

figure.effect-active p {
	margin-top: 40px;
	text-transform: none;
	color: #ffffff;
	opacity: 1;
	font-size: 20px;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transform-origin: 50% -100%;
	transform-origin: 50% -100%;
	opacity: 0;
}

figure.effect-active:hover h2,
figure.effect-active:hover p {
	opacity: 1;
	overflow: hidden;
	/* -webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1); */
}

.industry-wrapper .industry-mask,
.industry-wrapper .industry-mask-2,
.industry-wrapper .industry-mask-3,
.industry-wrapper .industry-mask-4 {
	position: absolute;
	top: 0%;
	left: 30px;
	left: 2.4%;
}

@media screen and (max-width:1200px) {

	.industry-wrapper .industry-mask,
	.industry-wrapper .industry-mask-2,
	.industry-wrapper .industry-mask-3,
	.industry-wrapper .industry-mask-4 {
		position: absolute;
		top: 0%;
		left: 30px;
		left: 4.5%;
	}

	.industry-wrapper .industry-mask,
	.industry-wrapper .industry-mask-2,
	.industry-wrapper .industry-mask-3,
	.industry-wrapper .industry-mask-4 {
		width: 91%;
		height: 94.9%;
	}

	.industry-wrapper h2 {
		font-size: 2.5625rem;
	}
}

@media screen and (max-width: 1100px) {
	.industry-wrapper h2 {
		font-size: 2.2rem;
	}

	.industry-wrapper p {
		font-size: 1.18rem;
	}
}

@media screen and (max-width: 992px) {

	.industry-wrapper .industry-mask,
	.industry-wrapper .industry-mask-2,
	.industry-wrapper .industry-mask-3,
	.industry-wrapper .industry-mask-4 {
		width: 88.2%;
		height: 93.4%;
	}

	.industry-wrapper .industry-mask,
	.industry-wrapper .industry-mask-2,
	.industry-wrapper .industry-mask-3,
	.industry-wrapper .industry-mask-4 {
		left: 30px;
		left: 5.6%;
	}

	.industry-wrapper h2 {
		font-size: 1.6rem;
	}

	.industry-wrapper p {
		font-size: 1rem;
		margin-top: 39px;
	}
}

@media screen and (max-width:1400px) {
	.industry-wrapper h2 {
		font-size: 30px;
	}

	.industry-text-wrapper {
		font-size: 17px;
	}
}

@media screen and (max-width:1100px) {
	.industry-inner-wrapper {
		display: none;
	}

	.difficult-wrapper {
		padding: 80px 0px 0px 0px;
	}
}

@media screen and (max-width:1240px) {
	.industry-wrapper h2 {
		font-size: 24px;
	}

	.industry-text-wrapper {
		font-size: 16px;
	}
}


/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}

	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

/* 產業介紹 */


.products-price-wrapper {
	padding: 80px 20px;
}

@media screen and (max-width:992px) {
	.products-price-wrapper {
		padding: 80px 0px;
	}
}

@media screen and (max-width:580px) {
	.products-price-wrapper {
		display: none;
	}
}


.bg-gray {
	width: 100%;
	background-color: #EFEFEF;
}

.products-box-1 {
	width: 100%;
	background-color: #ffffff;
	border: 3px solid #07A1DD;
	padding: 50px 20px;
	text-align: center;
	position: relative;
}

.products-box-2 {
	width: 100%;
	/* height: 537px; */
	background-color: #ffffff;
	border: 3px solid #FF4545;
	padding: 50px 20px;
	text-align: center;
	position: relative;
}

.products-box-3 {
	width: 100%;
	background-color: #ffffff;
	border: 3px solid #3775FF;
	padding: 50px 20px;
	text-align: center;
	position: relative;
}

.products-box-4 {
	width: 100%;
	background-color: #ffffff;
	border: 3px solid #244BEB;
	padding: 50px 20px;
	text-align: center;
	position: relative;
}

.products-wrapper {
	padding: 40px 0px 0px 0px;
	position: relative;
}

.products-wrapper h2 {
	text-align: center;
	padding: 40px 0px 60px 0px;
	font-weight: 900;
}

.products-icon-out {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: 77px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:1200px) {
	.products-icon-out {
		left: 52px;
	}
}

@media screen and (max-width:992px) {
	.products-icon-out {
		left: 108px;
	}

	.products-box-3,
	.products-box-4 {
		margin-top: 81px;
	}
}

@media screen and (max-width:768px) {
	.products-box-2 {
		margin-top: 81px;
	}

	.products-icon-out {
		left: 50%;
		transform: translate(-50%, 0%);
	}
}




.products-color-1 {
	background-color: #07A1DD;
}

.products-color-2 {
	background-color: #FF4545;
}

.products-color-3 {
	background-color: #3775FF;
}

.products-color-4 {
	background-color: #244BEB;
}

.products-icon-inner {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.price-text-title {
	padding: 20px 0px 15px 0px;
	font-weight: 900;
	font-size: 1.3rem;
}

.price-text-delete {
	text-decoration: line-through;
	font-weight: 900;
	margin-right: 8px;
}

.price-text-sale {
	background-color: #FF3756;
	border-radius: 50px;
	color: #ffffff;
	font-weight: 900;
	padding: 2px 10px;
}

.price-text-wrapper {
	opacity: .5;
}

@media screen and (max-width:1200px) and (min-width:992px) {
	.price-text-wrapper {
		display: inline-grid;
	}
}

.price-text-main {
	font-size: 38px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.price-text-main-only {
	font-size: 27px;
	font-weight: bold;
}

.price-text-up {
	font-size: 22px;
}

.list-group {
	text-align: left;
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
	margin-top: 12px;
	height: 300px;
}

.products-box-1 a:hover {
	color: #fff !important;
}

.products-box-2 a:hover {
	color: #fff !important;
}

.products-box-3 a:hover {
	color: #fff !important;
}

.products-box-4 a:hover {
	color: #fff !important;
}

@media screen and (max-width:768px) {
	.list-group {
		text-align: left;
		list-style-type: none;
		margin: 0 auto;
		width: 51%;
		margin-top: 12px;
		margin-bottom: 30px;
		height: auto;
	}
}

.fa-check,
.fa-gift {
	margin-right: 10px;
}

.fa-rocket {
	color: #244BEB;
	margin-right: 10px;
}

.fa-check {
	color: #00B67A;
}

.fa-gift {
	color: #FD7734;
}

.products-box-1 .price-btn-1 {
	background-color: #07A1DD;
	color: #ffffff;
	padding: 10px 25px;
}

.products-box-1 .price-btn-1:hover {
	background-color: rgb(6, 114, 157);
	color: #ffffff;
	padding: 10px 25px;
}

.price-btn-2 {
	background-color: #FF3756;
	color: #ffffff;
	padding: 10px 25px;
}

.price-btn-2:hover {
	background-color: rgb(204, 42, 66);
	color: #ffffff;
	padding: 10px 25px;
}

.price-btn-3 {
	background-color: #3775FF;
	color: #ffffff;
	padding: 10px 25px;
}

.price-btn-3:hover {
	background-color: rgb(40, 87, 189);
	color: #ffffff;
	padding: 10px 25px;
}


.price-btn-4 {
	background-color: #244BEB;
	color: #ffffff;
	padding: 10px 25px;
}

.price-btn-4:hover {
	background-color: rgb(55, 28, 177);
	color: #ffffff;
	padding: 10px 25px;
}

.price-background-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 50vw 0 50vw;
	border-color: #EFEFEF transparent transparent transparent;
	position: absolute;
	left: 0px;
	/* top: 50px; */
	bottom: -100px;
}

.price-phone-wrapper {
	text-align: center;
	margin-top: 50px;
}

.price-phone-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.price-phone-number {
	font-size: 2.5rem;
	font-weight: bold;
	margin-top: 20px;
	color: #FD7734;
	font-family: Arial;
	font-weight: 700;
}



/* 電話區塊 */






.portfoilo-wrapper h2 {
	text-align: center;
	padding: 40px 0px 20px 0px;
	font-weight: 900;
	margin-top: 141px;
}

.portfoilo-title-p {
	text-align: center;
	margin: 0 auto;
	color: #747474;
	margin-bottom: 40px;
}

@media screen and (max-width:992px) {
	.portfoilo-hidden-m {
		display: none;
	}
}

@media screen and (min-width:993px) {
	.portfoilo-hidden-l {
		display: none;
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
	height: 380px;
	padding: 29px 0px !important;
	margin-bottom: 50px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	transition: 300ms;
	transform: scale(0.8);
	box-shadow: 0 0 24px rgba(0, 0, 0, .08);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
	transform: scale(1.03);
}


/* new */

.swiper-slide-prev {
	transform: scale(1.03);
}

.swiper-slide-next {
	transform: scale(1.03);
}


.portfoilo-text-wrapper {
	padding: 20px;
	text-align: center;
	background-color: #ffffff;
}

.portfoilo .owl-item.active .center {
	box-shadow: 1px 1px 24px rgba(0, 0, 0, .08);
}

.swiper-slide:hover {
	color: #656c74 !important;
}

.portfoilo-text-wrapper h4 {
	text-align: left;
}


.portfoilo-text-wrapper p:nth-child(1) {
	text-align: left;
	font-weight: bold;
}

.portfoilo-text-wrapper p:nth-child(2) {
	font-size: 12px;
	text-align: left;
	margin-bottom: .5rem;
	margin-top: 24px;
}

.portfoilo-text-wrapper p:nth-child(3) {
	font-size: 12px;
	text-align: left;
	margin-bottom: .5rem;
}

.portfoilo-text-wrapper span {
	font-size: 12px;
	position: absolute;
	right: 27px;
	background-color: #F8F8F8;
	border-radius: 50px;
	color: #767676;
}

@media screen and (max-width:992px) {
	.portfoilo-text-wrapper span {
		bottom: 15px;
	}
}


.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: -4px !important;
}

.portfoilo-wrapper {
	position: relative;
}

.portfoilo-background {
	background-color: rgba(253, 119, 52, 1);
	width: 100%;
	height: 274px;
	position: absolute;
	bottom: -18px;
}


.portfoilo-background-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 50vw 0 50vw;
	border-color: rgba(253, 119, 52, 1) transparent transparent transparent;
	position: absolute;
	left: 0px;
	/* top: 50px; */
	bottom: -100px;
}

.swiper-pagination-bullet-active {
	background: rgb(255, 194, 164) !important;
}

.portfoilo .carousel-content {
	padding: 2rem 0;
}

@media(min-width:1185px) {
	.portfoilo .owl-item .item {
		transform: scale(.9);
	}

	.portfoilo .owl-item.active .center {
		transform: scale(1);
	}
}

#carouselExampleControls .detail-content {
	max-height: 550px;
	overflow-y: hidden;
}

#carouselExampleControls .detail-content .list {
	background-color: #f4f6f7;
}

@media screen and (max-width:768px) {
	.owl-carousel .owl-stage-outer {
		margin: 20px;
	}

	.text-hide-m {
		display: none;
	}
}

.owl-item {
	cursor: pointer !important;
}



/* 規劃 */

.planning-number {
	color: rgba(253, 119, 52, 0.85);
	position: absolute;
	right: 29px;
	top: -19px;
	font-size: 30px;
	font-family: arial;
	font-weight: 600;
}

.planning-wrapper {
	padding-top: 158px;
	background-color: #EFEFEF;
	padding-bottom: 125px;
}

.planning-wrapper h2 {
	text-align: center;
	padding: 40px 0px 20px 0px;
	font-weight: 900;
}

.planning-box {
	background-color: #ffffff;
	height: 100%;
	text-align: left;
	padding: 20px;
}

@media screen and (max-width:992px) {

	.planning-margin-m {
		margin-bottom: 20px;
	}

}

@media screen and (min-width:992px) {
	.planning-margin-m {
		margin-bottom: 28px;
	}
}


.planning-title {
	color: #7086A5;
	font-size: 22px;
	font-weight: 700;
}

.planning-content {
	width: 50%;
	color: #707070;
	float: left;
}

.planning-img {
	float: right;
	width: 40%;
}

.planning-subtitle {
	font-size: 1.1rem;
	color: rgb(124, 153, 194);
	margin-top: 10px;
	display: block;
}

.planning-wrapper .col-md-4 {
	padding: 20px 15px;
}


/* 電話區塊 */

.number-wrapper {
	background-color: #FD7734;
	text-align: center;
	color: #ffffff;
	padding: 40px 0px 40px 0px;
	position: relative;
}


@media screen and (max-width:500px) {
	.number-wrapper {
		padding-right: 15px;
		padding-left: 15px;
	}
}


.number-title {
	font-size: 1.4375rem;
	margin-bottom: 3px;
}

.number-content {
	font-size: 3rem;
	font-family: Arial;
	font-weight: 700;
	margin-bottom: 3px;
	color: #ffffff;
}

.number-content:hover {
	color: #ffffff !important;
}

.number-background-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 30px;
	border-color: #FD7734 transparent transparent transparent;
	margin: 0 auto;
	text-align: center;
}


/* 服務區塊 */
.servive-wrapper {
	text-align: center;
	padding-bottom: 80px;
}

.servive-wrapper h2 {
	padding: 40px 0px 20px 0px;
	font-weight: 900;
	margin-top: 60px;
}

.servive-box {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
	padding: 20px;
}

.servive-title-p {
	text-align: center;
	margin: 0 auto;
	color: #747474;
	margin-bottom: 40px;
}

.servive-title {
	font-size: 1.4rem;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
}


@media screen and (max-width:992px) {
	.servive-box {
		-ms-flex: 0 0 33.3333333333333%;
		flex: 0 0 33.3333333333333%;
		max-width: 33.3333333333333%;
		padding: 20px;
	}

	.d-flex {
		flex-wrap: wrap !important;
		justify-content: center;
	}
}


@media screen and (max-width:992px) {
	.servive-box {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding: 20px;
	}
}

@media screen and (max-width:400px) {
	.servive-box p {
		font-size: 0.8125rem;
	}
}


/* 聯絡我們 */

.contact-wrapper {
	width: 100%;
	background: url(../img/service-background.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

.contact-box {
	padding: 60px 40px 90px 40px;
	color: #fff;
}

.contact-box .contact-form {
	clear: both;
}

.contact-title {
	color: #ffffff;
	font-size: 1.8rem;
	text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.contact-number {
	color: #ffffff;
	font-size: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

@media screen and (max-width:500px) {
	.contact-number {
		float: left !important;
	}
}

.contact-mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}

.contact-box .form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 0px solid #ced4da;
	border-radius: 0px !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-input {
	height: 50px !important;
}

.contact-textarea {
	height: 126px !important;
}

@media screen and (max-width:992px) {
	.textarea-box {
		padding: 20px 30px;
		width: 92%;
		margin: 0 auto;
	}
}

.select-wrapper {
	display: flex;
	justify-content: space-between;
}

.contact-select {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-select .d-flex {
	align-items: center;
}


.contact-select .form-control {
	width: 169px;
	margin-left: 18px;
	border-radius: 0px !important;
}

.contact-program-box {
	display: flex;
}


.select-text-btn {
	font-size: 1.1rem;
	padding: 10px 28px;
	float: right;
	/* margin-top: 30px; */
}

@media screen and (max-width:768px) {
	.contact-padding-m {
		padding-bottom: 15px;
	}
}


@media screen and (max-width:650px) {
	.contact-select {
		display: block;
	}

	.contact-program-box {
		display: block;
	}

	.select-text-btn {
		float: left !important;
	}

	.contact-select .form-control {
		margin-left: 0px;
	}

	.contact-box {
		padding: 60px 40px 128px 40px;
		color: #fff;
	}

	.select-text-btn {
		margin-top: 30px;
	}

}

/* 頁尾 */

.footer-wrapper {
	background-color: #EFEFEF;
	padding: 30px 40px 30px 40px;
	;
}

.footer-logo {
	width: 200px;
}

.footer-content {
	text-align: right;
}

.footer-box-1 {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.footer-copyright {
	position: absolute;
	bottom: 0px;
}

.footer-copyright-text {
	font-size: 12px;
	color: rgb(141, 141, 141);
}

@media screen and (max-width:1100px) {
	.footer-text-wrapper {
		display: block;
		margin-top: 13px;
	}

	.fa-envelope {
		margin-left: 0px !important;
	}
}

@media screen and (max-width:992px) {
	.footer-copyright {
		position: relative;
		bottom: 0px;
		margin: 60px 0px;
	}
}

@media screen and (max-width:460px) {
	.footer-wrapper {
		padding: 0px;
	}

}

#map {
	width: 100%;
	height: 300px;
}

.fa-map-marker-alt,
.fa-envelope,
.fa-phone-alt {
	color: rgba(253, 119, 52, 0.85);
	margin-right: 5px;
}


/* 移致頂層 */

#button {
	display: inline-block;
	background-color: rgba(253, 119, 52, 0.85);
	width: 57px;
	height: 57px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 72px;
	right: -4px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	box-shadow: -5px 4px 14px rgba(0, 0, 0, .15);
}

@media screen and (max-width:768px) {
	#button {
		bottom: 102px;
		right: -2px;
	}
}

@media screen and (max-width:500px) {
	#button {
		right: 35px;
	}
}


#button::after {
	color: #fff;
	content: '\f077';
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	text-decoration: inherit;
	font-size: 23px;
	top: 12px;
	position: relative;
}

#button:hover {
	cursor: pointer;
	background-color: #333;
}

#button:active {
	background-color: #555;
}

#button.show {
	opacity: 1;
	visibility: visible;
}

/* Styles for the content section */

.content {
	width: 77%;
	margin: 50px auto;
	font-family: 'Merriweather', serif;
	font-size: 17px;
	color: #6c767a;
	line-height: 1.9;
}

@media (max-width: 1200px) {
	.address-hide-m {
		display: none;
	}
}

@media (min-width: 1201px) {
	.address-hide-l {
		display: none;
	}
}


@media (min-width: 500px) {
	.content {
		width: 43%;
	}

	#button {
		margin: 30px;
	}
}

.content h1 {
	margin-bottom: -10px;
	color: #03a9f4;
	line-height: 1.5;
}

.content h3 {
	font-style: italic;
	color: #96a2a7;
}

#load {
	position: fixed;
	z-index: 99999999999;
	width: 100%;
	height: 100vh;
	background-color: rgba(253, 119, 52);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-img {
	width: 40%;
}






@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(1, 1);
	}

	to {
		-webkit-transform: scale(1.2, 1.2);
	}
}

@keyframes zoom {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.2, 1.2);
	}
}

@media (min-width: 998px) {
	.carousel-inner .carousel-item>img {
		-webkit-animation: zoom 17s;
		animation: zoom 17s;
	}
}

@media (min-width: 1200px) {
	.modal-xl {
		max-width: 80%;
	}

}

@media (min-width: 1500px) {
	.modal-xl {
		max-width: 70%;
	}

}


.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
	color: #fff !important;
	font-size: 36px !important;
}

@media screen and (max-width:600px) {

	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev,
	.owl-carousel button.owl-dot {
		font-size: 58px !important;
	}
}


.owl-theme .owl-nav [class*=owl-]:hover {
	background: #86979100 !important;
	color: rgba(255, 255, 255, 0.662) !important;
	text-decoration: none;
}




.carousel-control-prev-icon {
	background-image: url('../img/back.png');
}

.carousel-control-next-icon {
	background-image: url('../img/next.png');
}




.carousel-control-prev {
	left: -6%;
}

.carousel-control-next {
	right: -6%;
}



/* 手機版三角形 */
@media screen and (max-width:992px) {
	.price-background-triangle {
		border-width: 31px 50vw 0 50vw;
		bottom: -31px;
	}

	.portfoilo-background-triangle {
		border-width: 31px 50vw 0 50vw;
		bottom: -31px;
	}

	.products-wrapper {
		padding-bottom: 50px;
	}

	.portfoilo-wrapper h2 {
		margin-top: 79px !important;
	}

	.planning-wrapper {
		padding-top: 92px;
	}
}


@media screen and (max-width:680px) {
	.feature-icon-focus::before {
		margin: 0px 0px 10px 0px;
		width: 100%;
	}

	.feature-icon-nice::before {
		margin: 0px 0px 10px 0px;
		width: 100%;
	}

	.feature-icon-price::before {
		margin: 0px 0px 10px 0px;
		width: 100%;
	}

	.feature-box h3 {
		margin-bottom: 16px;
		flex-wrap: wrap !important;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.feature-box p {
		display: none;
	}

	.feature-box {
		padding: 32px 4% 0px 4%;
	}

	.feature-box:nth-child(2) {
		background-color: #F2F2F2;
	}

}


@media screen and (min-width:680px) {
	.feature-box-m {
		display: none;
	}
}


/* 我們的案例手機版 */

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999999999999999999999999!important;
}

@media screen and (max-width:630px) {
	.modal-body {
		height: 504px;
	}
}